- var year = new Date().getFullYear()

doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

		title=title

		link(rel="stylesheet", href="/stylesheets/avenir/avenir-next.css")
		link(rel="stylesheet", href="/stylesheets/style.css")

	body
		header
			h1 Prodo
			a(href="/") Dashboard
			a(href="/reports") Reports
			a(href="/devices") Devices
			a(href="/users") Users
			a(href="/Settings") Settings
			block header
			.right
				a(href="/logout") Logout
		section
			block content
		footer
			| &copy; #{year} &middot; 
			a(href="https://github.com/prodo-open") Prodo
				sup open
