- var year = new Date().getFullYear()

doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

		title Prodo

		link(rel="stylesheet", href="/stylesheets/avenir/avenir-next.css")
		link(rel="stylesheet", href="/stylesheets/style.css")

	body
		header
			h1 Prodo
			if authUser
				a(href="/dashboard") Dashboard
				a(href="/messages") Messages
				a(href="/devices") Devices
				a(href="/users") Users
				a(href="/settings") Settings
				block header
				.right
					span Hello, #{authUser.name}
					a(href="/users/logout") Logout
			else
				.right
					a(href="/users/login") Login
		section
			block content
