extends layout

block content
	h1 Login
	form(action="/users/login", method="POST")
		if error
			p.error=error
		label
			input(type="text", name="username", placeholder="Username", value="#{username || ''}")
		label
			input(type="password", name="password", placeholder="Password")
		p
			button(type="submit") Login
