/* Colors */
$colorPrimary: #3F51B5;
$colorPrimaryDark: #303F9F;
$colorAccent: #448AFF;
$colorAccentDark: #2962FF;
$colorMessage: #2196F3;
$colorError: #F44336;
/* Styles */
*,
*:before,
*:after {
	border-radius: 0;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	outline: none;
	padding: 0;
}
body {
	background: #FFF;
	color: #111;
	cursor: default;
	display: flex;
	flex-direction: column;
	font: normal 1em/1 'Avenir Next', sans-serif;
	height: 100vh;
}
a {
	color: $colorAccent;
	text-decoration: none;
	transition: all 300ms ease;
	&:hover {
		color: $colorAccentDark;
	}
	&.button {
		background: $colorPrimary;
		color: #FFF;
		cursor: pointer;
		display: inline-block;
		min-width: 0;
		padding: 0.5em 1em;
		transition: all 200ms ease;
		&:active {
			background: $colorPrimaryDark;
		}
	}
}
form {
	label,
	p {
		display: block;
		line-height: 1;
		margin: 2em 0;
		&.error,
		&.message {
			background: $colorError;
			color: #FFF;
			display: inline-block;
			margin: 0;
			max-width: 20em;
			padding: 1em;
		}
		&.message {
			background: $colorMessage;
		}
		strong {
			display: block;
			margin-bottom: 1em;
		}
	}
	input {
		appearance: none;
		background: #EEE;
		border: none;
		font: inherit;
		line-height: normal;
		min-width: 20em;
		padding: 1em;
	}
	button {
		@extend input;
		background: $colorPrimary;
		color: #FFF;
		cursor: pointer;
		min-width: 0;
		padding: 1em 2em;
		transition: all 200ms ease;
		&:active {
			background: $colorPrimaryDark;
		}
	}
}
h1,
h2,
h3 {
	font-weight: 100;
	margin: 2rem 0;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}
p {
	line-height: 1.6;
	margin: 2em 0;
}
pre {
	font-family: 'Consolas', monospace;
	line-height: 1.5;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	thead {
		background: #F9F9F9;
	}
	tbody {
		tr:nth-child(even) {
			background: #F6F6F6;
		}
	}
	th,
	td {
		border: 1px solid #EEE;
		padding: 1em;
		&.icon {
			padding: 0;
			position: relative;
			text-align: center;
			width: 3em;
			a {
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				&.user-edit,
				&.user-remove {
					background-position: center;
					background-repeat: no-repeat;
					background-size: 2em;
				}
				&.user-edit {
					background-image: url('/images/icons/user-edit.png');
				}
				&.user-remove {
					background-image: url('/images/icons/user-remove.png');
				}
			}
		}
	}
}
ul {
	margin: 2em 0;
	li {
		list-style: square;
		margin: 1em 0 1em 1em;
	}
}
/* Layout */
nav {
	background: $colorPrimary;
	color: #FFF;
	display: flex;
	h1,
	a,
	span {
		color: #FFF;
		font-size: 1em;
		font-weight: 300;
		margin: 0;
		padding: 1em;
	}
	a:hover,
	a.active {
		background-color: $colorPrimaryDark;
		color: #FFF;
	}
	.right {
		display: flex;
		margin-left: auto;
	}
}
section {
	flex: 1;
	padding: 1em 3em;
	overflow-y: scroll;
}
