/* Colors */
$colorPrimary: #3F51B5;
$colorPrimaryDark: #303F9F;
$colorAccent: #448AFF;
$colorAccentDark: #2962FF;
$colorGrey: #9E9E9E;
$colorGreyDark: #616161;
$colorMessage: #2196F3;
$colorSuccess: #4CAF50;
$colorError: #F44336;
/* Styles */
*,
*:before,
*:after {
	border-radius: 0;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	outline: none;
	padding: 0;
}
body {
	background: #FFF;
	color: #111;
	cursor: default;
	font: normal 1em/1 'Avenir Next', sans-serif;
	height: 100vh;
}
a {
	color: $colorAccent;
	text-decoration: none;
	transition: all 300ms ease;
	&:hover {
		color: $colorAccentDark;
	}
	&.button {
		background: $colorPrimary;
		color: #FFF;
		cursor: pointer;
		display: inline-block;
		line-height: 1.5;
		padding: 0.5em 1em;
		transition: all 200ms ease;
		&:active {
			background: $colorPrimaryDark;
		}
	}
}
form {
	label,
	p {
		display: block;
		line-height: 1;
		margin: 2em 0;
		position: relative;
		&.success,
		&.error,
		&.message {
			background: $colorError;
			color: #FFF;
			display: inline-block;
			line-height: 1.5;
			margin: 0;
			max-width: 20em;
			padding: 1em;
			&:empty {
				display: none;
			}
		}
		&.success {
			background: $colorSuccess;
		}
		&.message {
			background: $colorMessage;
		}
		strong {
			display: block;
			margin-bottom: 1em;
		}
		button:not(:first-of-type) {
			background: $colorGrey;
			margin-left: 1em;
			&:active {
				background: $colorGreyDark;
			}
		}
	}
	input,
	select,
	textarea {
		appearance: none;
		background: #EEE;
		border: none;
		font: inherit;
		line-height: normal;
		padding: 1em;
		width: 30em;
		-webkit-appearance: none;
		&[type=image] {
			background: none;
			padding: 0;
			width: auto;
		}
	}
	button {
		@extend input;
		background: $colorPrimary;
		color: #FFF;
		cursor: pointer;
		padding: 1em 2em;
		transition: all 200ms ease;
		width: auto;
		&:active {
			background: $colorPrimaryDark;
		}
	}
	select {
		background: #EEE url('/images/icons/arrow-down.svg') calc(100% - 0.5em) center no-repeat;
		background-size: auto 80%;
		padding-right: 3.5em;
	}
	textarea {
		line-height: 1.5;
	}
}
h1,
h2,
h3 {
	font-weight: 100;
	margin: 2rem 0;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}
p {
	line-height: 1.5;
	margin: 2em 0;
}
pre {
	font-family: 'Consolas', monospace;
	line-height: 1.5;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	thead {
		background: #EEE;
	}
	tbody {
		tr:nth-child(even) {
			background: #F9F9F9;
		}
	}
	th,
	td {
		border-left: 1px solid #EEE;
		border-right: 1px solid #EEE;
		padding: 1em;
		&.icon {
			padding: 0;
			position: relative;
			text-align: center;
			width: 3em;
			a {
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				&.edit,
				&.remove,
				&.refresh {
					background-position: center;
					background-repeat: no-repeat;
					background-size: 2em;
				}
				&.edit {
					background-image: url('/images/icons/edit.svg');
				}
				&.remove {
					background-image: url('/images/icons/remove.svg');
				}
				&.refresh {
					background-image: url('/images/icons/refresh.svg');
				}
			}
		}
	}
}
ul {
	margin: 2em 0;
	li {
		list-style: square;
		margin: 1em 0 1em 1em;
	}
}
/* Layout */
nav {
	background: $colorPrimary;
	color: #FFF;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8;
	h1,
	a,
	span {
		color: #FFF;
		font-size: 1em;
		font-weight: 300;
		margin: 0;
		padding: 1em;
	}
	a:hover,
	a.active {
		background-color: $colorPrimaryDark;
		color: #FFF;
	}
	.right {
		display: flex;
		margin-left: auto;
	}
}
section {
	padding: 4em 3em 1em;
}
/* Components */
.modal-wrapper {
	display: none;
	.modal {
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
		.content {
			background: #FFF;
			max-height: 80%;
			max-width: 80%;
			min-height: 20em;
			min-width: 40em;
			overflow: scroll;
			padding: 0 2em;
		}
	}
	&.slim .content {
		min-height: 0;
		min-width: 30vw;
	}
	&.success .content {
		color: $colorSuccess;
	}
	&.error .content {
		color: $colorError;
	}
}
/* Data */
.capitalise {
	text-transform: capitalize;
}
.tag {
	&:not(:first-of-type) {
		&:before {
			content: ', ';
		}
	}
}
.filters {
	display: flex;
	position: relative;
	text-align: center;
	> * {
		flex: 1 1 auto;
		margin: 0 1em 2em;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.pagination {
	display: flex;
	justify-content: flex-end;
	margin: 0 0 2em;
	li {
		list-style: none;
		margin: 0;
		&:first-child {
			padding: 1em 0;
		}
		&:not(:last-child) {
			margin-right: 1em;
		}
		a {
			background: #F9F9F9;
			display: block;
			padding: 1em;
			&:hover,
			&.active {
				background: #EEE;
			}
		}
	}
}
